In [19]:
import melt_functions as ice_melt
import numpy as np
import xarray as xr
import scipy.io as sio
from plot_icebergshape import plot_icebergshape
import matplotlib.pyplot as plt
from scipy.interpolate import interp1d, interp2d
from matplotlib import cm,colors
import pickle
import geopandas as gpd
from mpl_toolkits.axes_grid1 import make_axes_locatable
import os
import pandas as pd
import dataframe_image as dfi

In [20]:


dt = 50

psw = 1024 #kg m3
csw = 3974 #J kg-1 C-1
day2sec = 86400
Volume_test = 28e3 * 5e3 * 300 #km3 Helheim Fjord test

coeff_1_path = '/media/laserglaciers/upernavik/iceberg_py/outfiles/helheim/Qib/coeff_1_melt_rates/'
coeff_4_path = '/media/laserglaciers/upernavik/iceberg_py/outfiles/helheim/Qib/coeff_4_melt_rates/'

coeff_1_list = sorted([nc for nc in os.listdir(coeff_1_path) if nc.endswith('nc')])
coeff_4_list = sorted([nc for nc in os.listdir(coeff_4_path) if nc.endswith('nc')])


constant_tf_57 = 5.73 # from Slater 2022 nature geoscience
constant_tf_67 = 6.67 # from Slater 2022 nature geoscience
constant_tf_76 = 7.62 # from Slater 2022 nature geoscience

dQ_dt_HEL_57 = psw * csw * ( (Volume_test * constant_tf_57) / (dt * day2sec) )
dQ_dt_HEL_67 = psw * csw * ( (Volume_test * constant_tf_67) / (dt * day2sec) )
dQ_dt_HEL_76 = psw * csw * ( (Volume_test * constant_tf_76) / (dt * day2sec) )

os.chdir(coeff_1_path)
dQ_dt_list = [dQ_dt_HEL_57, dQ_dt_HEL_67, dQ_dt_HEL_76]
dQ_dt_dict = {'5.73':dQ_dt_HEL_57,
              '6.67':dQ_dt_HEL_67,
              '7.62':dQ_dt_HEL_76
    
}

tfs = [dQ_dt_HEL_57, constant_tf_67, dQ_dt_HEL_76]

TF_dict = {'5.73':constant_tf_57,
              '6.67':constant_tf_67,
              '7.62':constant_tf_76
    
}

urels = [0.01, 0.05, 0.10] #m s-1

urels_dict = {'01': 0.01,
              '05' : 0.05,
              '1' : 0.01
}

cols = ['coeff', 'urel', 'tf', 'dt', 'Qib', 'Qaww', 'melt_rate_avg_m3s', 'melt_rate_mday', 'percentage']

In [21]:
# pd.options.display.latex.repr = True
# l = df_concat.to_latex(
#     index=False,  # To not include the DataFrame index as a column in the table
#     position="htbp",  # The preferred positions where the table should be placed in the document ('here', 'top', 'bottom', 'page')
#     column_format="|l|l|l|l|l|l|l|",  # The format of the columns: left-aligned with vertical lines between them
#     escape=True,  # Disable escaping LaTeX special characters in the DataFrame
#     float_format="{:0.2f}".format  # Formats floats to two decimal places
# )
# l2 = df_concat.to_latex(
#     index = False,
#     float_format="{:0.2f}".format  # Formats floats to two decimal places
# )

In [22]:
# print(l2)

In [23]:
# dfi.export(df_concat, '/media/laserglaciers/upernavik/iceberg_py/figs/df_concat_vol_28km_length_melt_rates.png')

In [24]:
# pd.options.display.latex.repr = True

In [25]:
# help(dfi.export)

In [26]:
# df_concat.to_csv('/media/laserglaciers/upernavik/iceberg_py/Qib_test.csv')

In [27]:
coeff_1_path = '/media/laserglaciers/upernavik/iceberg_py/outfiles/helheim/Qib/coeff_1_all/'
coeff_4_path = '/media/laserglaciers/upernavik/iceberg_py/outfiles/helheim/Qib/coeff_4_all/'

coeff_1_list = sorted([nc for nc in os.listdir(coeff_1_path) if nc.endswith('nc')])
coeff_4_list = sorted([nc for nc in os.listdir(coeff_4_path) if nc.endswith('nc')])


constant_tf_55 = 5.73 # from Slater 2022 nature geoscience
constant_tf_67 = 6.67 # from Slater 2022 nature geoscience
constant_tf_8 = 7.62 # from Slater 2022 nature geoscience

dQ_dt_HEL_55 = psw * csw * ( (Volume_test * constant_tf_55) / (dt * day2sec) )
dQ_dt_HEL_67 = psw * csw * ( (Volume_test * constant_tf_67) / (dt * day2sec) )
dQ_dt_HEL_8 = psw * csw * ( (Volume_test * constant_tf_8) / (dt * day2sec) )

os.chdir(coeff_1_path)
dQ_dt_list = [dQ_dt_HEL_55, dQ_dt_HEL_67, dQ_dt_HEL_8]

tfs = [constant_tf_55, constant_tf_67, constant_tf_8]
urels = [0.01, 0.05, 0.10] #m s-1

# cols = ['date', 'coeff', 'urel', 'tf', 'dt', 'Qib', 'Qaww', 'melt_rate_avg_m3s', 'melt_rate_mday', 'percentage']
cols = ['date', 'coeff', 'urel', 'tf', 'dt', 'Qib', 'Qaww', 'melt_flux_m3s', 'percentage']
coef_1_dict = {}


series_list1 = []
for i,nc in enumerate(coeff_1_list):
    
    Qib = xr.open_dataset(nc)
    Qib_val = Qib.Qib.data
    date = nc[:10]
    date = pd.to_datetime(date)
    TF = nc.split('_')[6]
    urel_val = nc.split('_')[-1].split('.')[1]
    
    percentage = Qib_val/dQ_dt_dict[TF]
    print(f'coeff 1: {percentage:.2f}')
    print(f'{date}')
    coef_1_dict['date'] = date
    coef_1_dict['coeff'] = 1
    coef_1_dict['urel'] = urels_dict[urel_val]
    coef_1_dict['tf'] = TF_dict[TF]
    coef_1_dict['dt'] = 50
    coef_1_dict['Qib'] = (Qib_val/1e11)
    coef_1_dict['Qaww'] = (dQ_dt_dict[TF])
    # coef_1_dict['melt_rate_avg_m3s'] = Qib.melt_rate_avg.data
    coef_1_dict['melt_rate_mday'] = Qib.melt_rate_intergrated.data
    
    coef_1_dict['percentage'] = f'{(Qib_val/dQ_dt_dict[TF])*100:.2f}'
    
    series = pd.Series(coef_1_dict)
    series_list1.append(series)

df_1 = pd.DataFrame(series_list1, columns=cols)   
os.chdir(coeff_4_path)

coef_4_dict = {}
series_list4 = []
for i,nc in enumerate(coeff_4_list):
    
    Qib = xr.open_dataset(nc)
    Qib_val = Qib.Qib.data
    date = nc[:10]
    date = pd.to_datetime(date)
    TF_4 = nc.split('_')[6]
    urel_val = nc.split('_')[-1].split('.')[1]
    
    percentage = Qib_val/dQ_dt_dict[TF]
    print(f'coeff 4: {percentage:.2f}')
    print(f'{TF}')
    coef_4_dict['date'] = date
    coef_4_dict['coeff'] = 4
    coef_4_dict['urel'] = urels_dict[urel_val]
    coef_4_dict['tf'] = TF_dict[TF_4]
    coef_4_dict['dt'] = 50
    coef_4_dict['Qib'] = (Qib_val/1e11)
    coef_4_dict['Qaww'] = (dQ_dt_dict[TF_4]/1e11)
    # coef_4_dict['melt_rate_avg_m3s'] = Qib.melt_rate_avg.data
    coef_4_dict['melt_flux_m3s'] = Qib.melt_rate_intergrated.data

    
    coef_4_dict['percentage'] = f'{(Qib_val/dQ_dt_dict[TF])*100:.2f}'
    
    series4 = pd.Series(coef_4_dict)
    series_list4.append(series4)
    


df_1 = pd.DataFrame(series_list1, columns=cols)
df_4 = pd.DataFrame(series_list4, columns=cols)

df_concat = pd.concat([df_1, df_4],ignore_index=True)

coeff 1: 0.02
2016-04-24 00:00:00
coeff 1: 0.10
2016-04-24 00:00:00
coeff 1: 0.21
2016-04-24 00:00:00
coeff 1: 0.02
2018-05-04 00:00:00
coeff 1: 0.10
2018-05-04 00:00:00
coeff 1: 0.21
2018-05-04 00:00:00
coeff 1: 0.01
2020-09-03 00:00:00
coeff 1: 0.07
2020-09-03 00:00:00
coeff 1: 0.14
2020-09-03 00:00:00
coeff 1: 0.02
2023-07-27 00:00:00
coeff 1: 0.11
2023-07-27 00:00:00
coeff 1: 0.23
2023-07-27 00:00:00
coeff 1: 0.02
2024-08-22 00:00:00
coeff 1: 0.12
2024-08-22 00:00:00
coeff 1: 0.24
2024-08-22 00:00:00
coeff 4: 0.06
7.62
coeff 4: 0.36
7.62
coeff 4: 0.84
7.62
coeff 4: 0.06
7.62
coeff 4: 0.36
7.62
coeff 4: 0.85
7.62
coeff 4: 0.07
7.62
coeff 4: 0.40
7.62
coeff 4: 0.92
7.62
coeff 4: 0.07
7.62
coeff 4: 0.42
7.62
coeff 4: 0.97
7.62

In [28]:
df_concat

,date,coeff,urel,tf,dt,Qib,Qaww,melt_rate_avg_m3s,melt_rate_mday,percentage
0,2016-04-24,1,0.01,5.73,50,0.045905,2.266982e+11,46.28034318245167,102.43819141029789,2.02
1,2016-04-24,1,0.05,6.67,50,0.273604,2.638877e+11,79.70878436727398,251.6292706882215,10.37
2,2016-04-24,1,0.01,7.62,50,0.637787,3.014729e+11,131.76133456536778,466.6167372246345,21.16
3,2018-05-04,1,0.01,5.73,50,0.046186,2.266982e+11,35.74447520479372,86.33833959289764,2.04
4,2018-05-04,1,0.05,6.67,50,0.275280,2.638877e+11,61.674705117826974,212.2935911259495,10.43
5,2018-05-04,1,0.01,7.62,50,0.641697,3.014729e+11,102.05205370773372,394.794042918982,21.29
6,2020-09-03,1,0.01,5.73,50,0.029844,2.266982e+11,34.919298577437516,78.46821863763205,1.32
7,2020-09-03,1,0.05,6.67,50,0.177864,2.638877e+11,61.01101347299109,192.90493962790754,6.74
8,2020-09-03,1,0.01,7.62,50,0.414585,3.014729e+11,101.63754598041824,357.553951749945,13.75
9,2023-07-27,1,0.01,5.73,50,0.050428,2.266982e+11,169.42243136031965,145.13380223108322,2.22
10,2023-07-27,1,0.05,6.67,50,0.300579,2.638877e+11,254.06190461273493,350.32152104074424,11.39
11,2023-07-27,1,0.01,7.62,50,0.700695,3.014729e+11,385.91894689319804,628.8733526148438,23.24
12,2024-08-22,1,0.01,5.73,50,0.052920,2.266982e+11,29.339385216230326,84.72450296401088,2.33
13,2024-08-22,1,0.05,6.67,50,0.315441,2.638877e+11,51.67340886140551,208.3410651124017,11.95
14,2024-08-22,1,0.01,7.62,50,0.735364,3.014729e+11,86.44960736115058,388.94291082151796,24.39
15,2016-04-24,4,0.01,5.73,50,0.183619,2.266982e+00,64.80997906539335,184.17015869663177,6.09
16,2016-04-24,4,0.05,6.67,50,1.090422,2.638877e+00,190.06833295988267,677.44166875615,36.17
17,2016-04-24,4,0.01,7.62,50,2.531956,3.014729e+00,388.8275031121453,1238.1265922126233,83.99
18,2018-05-04,4,0.01,5.73,50,0.184743,2.266982e+00,50.116749808387176,155.2887148476451,6.13
19,2018-05-04,4,0.05,6.67,50,1.096001,2.638877e+00,147.2754852429202,575.3425834439245,36.35
20,2018-05-04,4,0.01,7.62,50,2.548997,3.014729e+00,301.44659036648636,1069.5417352271493,84.55
21,2023-07-27,4,0.01,5.73,50,0.201713,2.266982e+00,216.43965640888752,258.56226852872754,6.69
22,2023-07-27,4,0.05,6.67,50,1.200729,2.638877e+00,534.0642246825486,875.7836293481363,39.83
23,2023-07-27,4,0.01,7.62,50,2.783783,3.014729e+00,1037.7126463168784,1306.4299915434588,92.34
24,2024-08-22,4,0.01,5.73,50,0.211679,2.266982e+00,41.71520267275581,152.2878725120109,7.02
25,2024-08-22,4,0.05,6.67,50,1.258231,2.638877e+00,125.38502929185653,569.7387388286959,41.74
26,2024-08-22,4,0.01,7.62,50,2.925537,3.014729e+00,258.1656333926745,1083.3179940869218,97.04

In [29]:
c4 = df_concat['coeff']==4
df_concat.loc[c4]['melt_rate_avg_m3s'].mean()

279.66891944340136

In [30]:
c1 = df_concat['coeff']==1
df_concat.loc[c1]['melt_rate_avg_m3s'].mean()

108.7770158987556

In [31]:
df_concat.loc[c4]['Qib'].mean()

1.3514508462935313

In [32]:
df_concat.loc[c1]['Qib'].mean()

0.3132118944348603

In [33]:
c4_urel05 = (df_concat['coeff']==4) & (df_concat['urel'] == 0.05)
df_concat.loc[c4_urel05]['Qib'].mean()

1.1613457436610386

In [34]:
c1_urel05 = (df_concat['coeff']==1) & (df_concat['urel'] == 0.05)
df_concat.loc[c1_urel05]['Qib'].mean()

0.2685535246408136

In [35]:
df_concat.loc[c4_urel05]

,date,coeff,urel,tf,dt,Qib,Qaww,melt_rate_avg_m3s,melt_rate_mday,percentage
16,2016-04-24,4,0.05,6.67,50,1.090422,2.638877,190.06833295988267,677.44166875615,36.17
19,2018-05-04,4,0.05,6.67,50,1.096001,2.638877,147.2754852429202,575.3425834439245,36.35
22,2023-07-27,4,0.05,6.67,50,1.200729,2.638877,534.0642246825486,875.7836293481363,39.83
25,2024-08-22,4,0.05,6.67,50,1.258231,2.638877,125.38502929185653,569.7387388286959,41.74

In [36]:
df_concat.loc[c1_urel05]

,date,coeff,urel,tf,dt,Qib,Qaww,melt_rate_avg_m3s,melt_rate_mday,percentage
1,2016-04-24,1,0.05,6.67,50,0.273604,2.638877e+11,79.70878436727398,251.6292706882215,10.37
4,2018-05-04,1,0.05,6.67,50,0.275280,2.638877e+11,61.674705117826974,212.2935911259495,10.43
7,2020-09-03,1,0.05,6.67,50,0.177864,2.638877e+11,61.01101347299109,192.90493962790754,6.74
10,2023-07-27,1,0.05,6.67,50,0.300579,2.638877e+11,254.06190461273493,350.32152104074424,11.39
13,2024-08-22,1,0.05,6.67,50,0.315441,2.638877e+11,51.67340886140551,208.3410651124017,11.95